doctype html
html(lang="en")

head
	meta(charset="utf-8")
	title Portfolio
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css")
	link(rel="stylesheet" href="scss/styles.processed.css")
	link(rel="stylesheet" href="https://use.typekit.net/ndn8wjf.css")
	meta(name="viewport" content="width=device-width, initial-scale=1")
block variables
body
	include _header
		
	main
		block content
	
	include ../components/_footer.pug

	script(src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js")
	script(src="js/main.processed.js")