.l-footer.u-text--neutral-5
	.l-footer__body
		h4 About
		p The methods documented in this step-by-step process are a collection of practical, flexible workflows a designer may use to help create a design process for themselves or for their organization. This process is based off of the formal design process used by the awesome folks at Intercom.
		p This site was created with help from: Gatsby for development, Styled Components for styling, Figma for design, and Granville for typography.
		small &copy; 
			a(href="https://grapalab.com" target="_blank") Ryan Parag
			| &nbsp;2019