h4 Steps of the process
.c-intro
	a.c-intro__item(href="/discover.html")
		img.c-intro__item-img(src="./images/discover.svg")
		span.u-text--red 1. Discover
	a.c-intro__item(href="/concept.html")
		img.c-intro__item-img(src="./images/concept.svg")
		span.u-text--yellow 2. Concept
	a.c-intro__item(href="/scope.html")
		img.c-intro__item-img(src="./images/scope.svg")
		span.u-text--green 3. Scope
	a.c-intro__item(href="/detail.html")
		img.c-intro__item-img(src="./images/detail.svg")
		span.u-text--blue 4. Detail
	a.c-intro__item(href="/build.html")
		img.c-intro__item-img(src="./images/build.svg")
		span.u-text--purple 5. Build